body{
  margin: 0;
  background-color: rgba(0, 15, 22);
  background: linear-gradient(#0f0c29,#302b63, #24243e);
}
:root{
  min-height: 100vh;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: 0;
}
.ContainerMenu{
  width: 100%;
  padding-bottom: 3em;
}

.ContainerBody{
  text-align: center;
}

@media screen and (max-width:300px) {
    
  .ContainerBody {
    padding: 0.5em;
  }
}

.Tcenter{
  text-align: center;
}
.Ccenter{
  align-items: center;
}
